.LoginForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}

.LoginForm__input-field {
	position: relative;
}

.LoginForm__input-field > input {
	width: 100%;
	border: 2px solid #fff;
	outline: 0;
	font-size: 1.3em;
	color: #fff;
	background: transparent;
	padding: 7px 0;
}

.LoginForm__input-field > input::placeholder {
	color: transparent;
}

.LoginForm__input-field > label {
	position: absolute;
	top: 0;
	left: 7px;
	transform: translate(5px, +50%);
	font-size: 1.3em;
}
